body {
  height: 100vh;

  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif; /* Пример шрифта с футуристическим настроением */
  background-color: #121212; /* Темный фон подходит для стиля cyberpunk */
  color: #ffffff; /* Светлый текст для контраста */

  background-image: linear-gradient(315deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
  background-size: cover;
  background-repeat: no-repeat;
  
}

:root {
  --neon-text: #39ff14; /* Ярко-зеленый неон */
  --neon-background: #212121; /* Темно-серый фон для элементов с неоновым свечением */
  --neon-blue: #4fc1ff; /* Яркий неоновый синий */
  --neon-pink: #fb55f7; /* Яркий неоновый розовый */
}

.neon {
  text-shadow: 0 0 5px var(--neon-text), 0 0 10px var(--neon-text), 0 0 20px var(--neon-text);
  color: var(--neon-text);
}

button, input[type="text"] {
  background: var(--neon-background);
  border: 1px solid var(--neon-blue);
  color: var(--neon-text);
  text-shadow: none;
}

button:hover, input[type="text"]:focus {
  border-color: var(--neon-pink);
  box-shadow: 0 0 10px var(--neon-pink), 0 0 40px var(--neon-pink);
  outline: none; /* Убрать стандартную рамку при фокусе */
}

@keyframes neon-flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
    text-shadow: 0 0 5px var(--neon-text), 0 0 10px var(--neon-text), 0 0 20px var(--neon-text);
  }
  20%, 24%, 55% {
    opacity: 0.6;
    text-shadow: none;
  }
}

.flicker {
  animation: neon-flicker 1.5s infinite alternate;
}